Source: dpkg-licenses
Section: misc
Priority: optional
Maintainer: Marc Leeman <m.leeman@televic.com>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.0
Rules-Requires-Root: no
Vcs-Git: https://github.com/mleeman/dpkg-licenses.git
Vcs-Browser: https://github.com/mleeman/dpkg-licenses

Package: dpkg-licenses
Architecture: all
Depends: ${misc:Depends},
Description: show Licences on Debian base systems
 A command line tool which lists the licenses of all installed packages
 in a Debian-based system (like Ubuntu)
