Source: dpkg-licenses
Section: misc
Priority: optional
Maintainer: Marc Leeman <marc.leeman@gmail.com>
Build-Depends: debhelper (>= 10),
               lsb-release,
Standards-Version: 4.4.0
Vcs-Git: https://github.com/mleeman/dpkg-licenses.git
Vcs-Browser: https://github.com/mleeman/dpkg-licenses

Package: dpkg-licenses
Architecture: all
Depends: lsb-base (>= 3.0-10),
         ${misc:Depends},
Description: show Licences on Debian base systems
 A command line tool which lists the licenses of all installed packages
 in a Debian-based system (like Ubuntu)
